<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %>
</div>

<div class="field">
  <%= f.label :address %><br />
  <%= f.text_field :address, autofocus: true %>
</div>

<div style='width: 400px;'>
  <div id="map" style='width: 400px; height: 200px;'></div>
</div>


<div class="field">
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>

<div class="actions">
  <%= f.submit "Sign up" %>
</div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  var handler;

  document.addEventListener("turbolinks:load", function() {
    $.getScript("//maps.google.com/maps/api/js?key=AIzaSyCfBnIXYr7Jp_ReOiz4NoPN-7MOKTDnHec").success(function()
    {
      $.getScript("//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js").success(function(){
        $.getScript("//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js").success(initMap);
      });
    });
  });

  function initMap(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {zoom: 16},  internal: {id: 'map'}})
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(setCenter);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
    google.maps.event.addListener(handler.getMap(), "click", function(event){
      var myLatLng = event.latLng;
      var lat = myLatLng.lat();
      var lng = myLatLng.lng();
      getUserAddress(lat, lng);
    });
  };


  function getClientAddress(lat, lng){
    $.getJSON("<%= clients_get_coordinates_path %>", {lat:  lat, lng: lng}, function(json, textStatus) {
      $("#client_address").val(json);
    });
  };

  function setCenter(position) {
    handler.map.centerOn({
      lat: position.coords.latitude,
      lng: position.coords.longitude
    })
}

</script>