<!DOCTYPE html>
<html>
  <head>
    <title>Rapigas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= notice %>
  	<%= alert %>

  	<%= link_to "Ingresar", new_client_session_path %>
  	<%= link_to "Registrar", new_client_registration_path %>
  	<%= link_to "Salir", destroy_client_session_path, method: :delete %>
    <% if user_signed_in? %>
    <%= link_to current_client.actual_request, class: "btn btn-primary" %>
    <% end %>
    <%= yield %>
  </body>
</html>
